workflows/Normativka.json
{"createdAt":"2025-08-28T12:47:40.829Z","updatedAt":"2025-09-25T10:22:02.730Z","id":"PeBHZOK2sM7NEiQy","name":"Normativka_copy","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://normativka.by/api/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/javascript, */*; q=0.01"},{"name":"Accept-Language","value":"ru,en;q=0.9,en-GB;q=0.8,en-US;q=0.7"},{"name":"Connection","value":"keep-alive"},{"name":"Cookie","value":"=PHPSESSID={{ $('Set Session Info').all()[0].json.PHPSESSID }}; uuk={{ $('Set Session Info').all()[0].json.uuk }}; nsid={{ $('Set Session Info').all()[0].json.nsid }}; browser-user=1; laravel_session=o7ZJ2TZXWRqfUaeNpBzGN7EhPrA9yRxe5PwgRTQN; max-right-panel=false; gtm-session-start=1748345946486; _ym_uid=1747637908561038406; _ym_d=1747637908; _gcl_au=1.1.829426738.1747637907; _gid=GA1.2.623737283.1748336774; _ym_isad=2; _ym_visorc=w; _ga=GA1.1.544493875.1747637906; _ga_7NSV683FKS=GS2.1.s1748345946$o16$g1$t1748345948$j58$l0$h0$dN2p3ZHNIBTKoZw0yrk3YoKp2AUidByYe_g; _gat_UA-19256274-1=1; _gat=1;"},{"name":"Origin","value":"https://normativka.by"},{"name":"Referer","value":"https://normativka.by/lib/"},{"name":"Sec-Fetch-Dest","value":"empty"},{"name":"Sec-Fetch-Mode","value":"cors"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36 Edg/130.0.0.0"},{"name":"X-KL-kes-Ajax-Request","value":"Ajax_Request"},{"name":"X-Requested-With","value":"XMLHttpRequest"},{"name":"sec-ch-ua","value":"\"Chromium\";v=\"130\", \"Microsoft Edge\";v=\"130\", \"Not?A_Brand\";v=\"99\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"Windows\""}]},"sendBody":true,"contentType":"raw","rawContentType":"application/x-www-form-urlencoded; charset=UTF-8","body":"=isLibRequest=true&text={{ $json.output.replaceAll(' ','+') }}&sid=&titleOnly=false&onlyCount=false&changeNumber=1&uncorrectedQuery=&sort=common&documentCategoryListLink=or&documentCategoryList=1|6|7|12|&rubricLink=or&rubric=&docTypeLink=or&docType=&adoptionOrganLink=or&adoptionOrgan=&documentStatusLink=or&documentStatus=7|&approveFrom=&approveTill=&raw={}&searchForm={\"documentCategoryList\":{\"groupName\":\"Раздел\",\"isActive\":true,\"items\":[{\"value\":1},{\"value\":6},{\"value\":7},{\"value\":12}],\"hideItems\":[]},\"rubric\":{\"groupName\":\"Рубрика\",\"isActive\":true,\"items\":[],\"hideItems\":[]},\"docType\":{\"groupName\":\"Вид\",\"isActive\":true,\"items\":[],\"hideItems\":[]},\"adoptionOrgan\":{\"groupName\":\"Орган принятия\",\"isActive\":true,\"items\":[],\"hideItems\":[]},\"searchMode\":{\"groupName\":\"Режим поиска\",\"isActive\":true,\"items\":[],\"hideItems\":[]},\"documentStatus\":{\"groupName\":\"Статус документа\",\"isActive\":true,\"items\":[{\"value\":7}],\"hideItems\":[]},\"dates\":{\"groupName\":\"Даты\",\"isActive\":true,\"items\":[{\"name\":\"approveFrom\",\"value\":\"\"},{\"name\":\"approveTill\",\"value\":\"\"}],\"hideItems\":[]},\"textForms\":{\"groupName\":\"Текстовые поля\",\"isActive\":true,\"items\":[],\"hideItems\":[]}}&isVisibleAllDocs=true&isCachedForm=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,1008],"id":"1d14a6ac-86e9-4755-a448-f6ef55b56c3e","name":"Search (POST)"},{"parameters":{"url":"https://normativka.by/api/search/result","sendQuery":true,"queryParameters":{"parameters":[{"name":"sid","value":"={{ $json.sid }}"},{"name":"length","value":"200"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/javascript, */*; q=0.01"},{"name":"Accept-Language","value":"ru,en;q=0.9,en-GB;q=0.8,en-US;q=0.7"},{"name":"Connection","value":"keep-alive"},{"name":"Cookie","value":"=PHPSESSID={{ $('Set Session Info').all()[0].json.PHPSESSID }}; uuk={{ $('Set Session Info').all()[0].json.uuk }}; nsid={{ $('Set Session Info').all()[0].json.nsid }}; gtm-session-start=1748345946486; browser-user=1; laravel_session=o7ZJ2TZXWRqfUaeNpBzGN7EhPrA9yRxe5PwgRTQN; max-right-panel=false; _ym_uid=1747637908561038406; _ym_d=1747637908; _gcl_au=1.1.829426738.1747637907; _gid=GA1.2.623737283.1748336774; _ym_isad=2; _gat=1; _gat_UA-19256274-1=1; _ym_visorc=w; _ga=GA1.1.544493875.1747637906; _ga_7NSV683FKS=GS2.1.s1748345946$o16$g1$t1748345948$j58$l0$h0$dN2p3ZHNIBTKoZw0yrk3YoKp2AUidByYe_g;"},{"name":"Referer","value":"=https://normativka.by/lib/search/sid/{{ $json.sid }}"},{"name":"Sec-Fetch-Dest","value":"empty"},{"name":"Sec-Fetch-Mode","value":"cors"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36 Edg/130.0.0.0"},{"name":"X-KL-kes-Ajax-Request","value":"Ajax_Request"},{"name":"X-Requested-With","value":"XMLHttpRequest"},{"name":"sec-ch-ua","value":"\"Chromium\";v=\"130\", \"Microsoft Edge\";v=\"130\", \"Not?A_Brand\";v=\"99\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"Windows\""}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,1008],"id":"e73614d9-959c-461b-bddb-cf628ce10bd3","name":"Result (GET)","retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[672,1696],"id":"58858b93-5dab-4f1a-8c0f-a57ade3c1477","name":"Default Data Loader"},{"parameters":{"chunkSize":500,"chunkOverlap":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[544,1712],"id":"d882143f-9c2e-441c-8db2-ff2cd93ca455","name":"Recursive Character Text Splitter"},{"parameters":{"options":{"dimensions":1536,"timeout":300000}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[416,1696],"id":"343581d9-174b-4f86-925c-5af3c9b487b9","name":"Embeddings OpenAI"},{"parameters":{"jsCode":"// 1. Получаем первый элемент из входа\nconst item = $input.all()[0];\n\n// 2. Извлекаем заголовки\nconst headers = item.json.headers;\nconst contentDisposition = headers['content-disposition'] || '';\n\n// 3. Парсим имя файла\nlet messedUpName = '';\nconst filenameMatch = contentDisposition.match(/filename=\"(.*?)\"/i);\nif (filenameMatch) messedUpName = filenameMatch[1];\n\n// 4. Декодируем имя файла\nlet fixedName = Buffer.from(messedUpName, 'binary').toString('utf8');\n\n// 5. Чистим артефакты\nfixedName = fixedName\n  .replace(/\\s{2,}/g, ' ')         // Исправляем двойные пробелы\n  .replace(/â/g, '№')            // Заменяем артефакт на символ номера\n  .replace(/[^\\p{L}\\d\\s\\-().№]/gu, '') // Удаляем недопустимые символы\n  .trim();\n\n// 6. Переименовываем бинарный файл\nitem.binary.data.fileName = fixedName\n\n// 7. Добавляем метаданные для Supabase\nitem.json.fileName = fixedName;\nitem.json.contentType = \"application/pdf\";\n\n// 8. Возвращаем обработанный элемент\nreturn item;\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,1488],"id":"ee8e2129-f599-4afa-a9b4-e94241392c75","name":"Change File Name"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[336,1488],"id":"9acdd890-a659-4c5c-951a-9a88c3f934c9","name":"Extract from PDF"},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:126.0) Gecko/20100101 Firefox/126.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"},{"name":"Accept-Language","value":"ru-RU,ru;q=0.8,en-US;q=0.5,en;q=0.3"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Connection","value":"keep-alive"},{"name":"Referer","value":"=https://normativka.by/lib/document/{{ $json.id }}/sid/{{ $('Search (POST)').all()[0].json.sid }}"},{"name":"Cookie","value":"=uuk={{ $('Set Session Info').all()[0].json.uuk }}; _gcl_au=1.1.764429814.1749155858; _ga_7NSV683FKS=GS2.1.s1749495366$o6$g1$t1749496512$j60$l0$h0; _ga=GA1.2.929754525.1749155859; _ym_uid=1749155865234854205; _ym_d=1749155865; PHPSESSID={{ $('Set Session Info').all()[0].json.PHPSESSID }}; nsid={{ $('Set Session Info').all()[0].json.nsid }}; browser-user=1; laravel_session=kOzMFOs20DWxZ3cNdcGIWlhxxlPGKlfVCQyRWCDQ; gtm-session-start=1749495365530; _gid=GA1.2.928483435.1749495367; _ym_isad=2; _ym_visorc=w; _gat=1; _gat_UA-19256274-1=1"},{"name":"Upgrade-Insecure-Requests","value":"1"},{"name":"Sec-Fetch-Dest","value":"document"},{"name":"Sec-Fetch-Mode","value":"navigate"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"Sec-Fetch-User","value":"?1"},{"name":"Priority","value":"u=1"},{"name":"Pragma","value":"no-cache"},{"name":"Cache-Control","value":"no-cache"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,1504],"id":"b3e8771a-b4d0-4f58-9ad4-4ed9dfe79d6a","name":"GET PDF FILE","retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"content":"## Поиск по первой теме","height":80,"width":210},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,896],"id":"60840e67-42de-4916-83b3-022c8c552e98","name":"Sticky Note3"},{"parameters":{"content":"## Получаем результаты поиска","height":80,"width":290},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[608,1168],"id":"0e84e181-c1b6-4e40-8215-3a015e37a4bc","name":"Sticky Note5"},{"parameters":{"content":"## Логическое выделение сути НПА из его названия (без номеров и дат) для поиска","height":300,"width":370},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-480,864],"id":"f1ea496a-7437-4b73-8c20-7b930b284338","name":"Sticky Note7"},{"parameters":{"assignments":{"assignments":[{"id":"afb70b25-396d-4e4f-b638-76e7599be9a1","name":"message.caption","value":"={{ $('Telegram Trigger').all()[0].json.message.text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,1920],"id":"2facff1c-a6f8-40da-b9ec-bd1eba69d1c9","name":"Edit Fields1"},{"parameters":{"content":"После загрузки документа в SupaBase, \nпредыдущая нода последовательно на выход \nотдаёт большое количество элементов. \nОбъединяем их всех в один объект","height":120,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-496,1776],"id":"721d88dd-1e17-4a56-afad-19c66bf38ae2","name":"Sticky Note8"},{"parameters":{"content":"","height":140,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-496,1904],"id":"8a3d9383-0a4c-4b1c-8a4b-fcc06c69970b","name":"Sticky Note9"},{"parameters":{"jsCode":"\nconst combined = {};\n\n$('Post to Supabase Vector Store').all().forEach((item, index) => {\n  combined[`item${index + 1}`] = item.json;\n});\n\nreturn [{ json: combined }];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,1920],"id":"42c74b12-14bd-47a8-97bf-44fa8a2a8d13","name":"Combine All Elements","notesInFlow":false,"notes":"После загрузки документа в SupaBase, предыдущая нода последовательно на выход отдаёт большое количество элементов. Объединяем их всех в один объект"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[560,1488],"id":"f8d0f4ff-f361-4782-9a53-8be8d74e8e16","name":"Post to Supabase Vector Store","executeOnce":false,"credentials":{"supabaseApi":{"id":"eZuwXwBjp6iHSkpc","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt://b1g9v3gfrgpacf17n0e9/yandexgpt/latest","mode":"id"},"options":{"maxTokens":4000,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-432,1168],"id":"7b791e6e-ce72-4622-967c-d2e1a8ef8d14","name":"Yandex GPT"},{"parameters":{"promptType":"define","text":"={{ $json.act }}","options":{"systemMessage":"=МАКСИМАЛЬНО ДЕТАЛЬНО, ВПЛОТЬ ДО КАДОГО ЗНАКА проанализируй текст.\nВыдели МАКСИМАЛЬНОЕ количество темы, которые затрагиваются в этом тексте.\nЕсли темы написаны в форме множественного числа,\nпереведи их в форму единственного числа.\nВерни эти темы.\n\n\nГРАМОТНОЕ ФОРМИРОВАНИЕ ТЕМЫ\nПример №1:\n  На входе:  \"Жилищный кодекс Республики Беларусь\"\n  На выходе: \"Жилищный кодекс\"\n\nПример №2:\n  На входе:  \"Закон Республики Беларусь от 24 апреля 1992 г. № 1512-XII «О социальной защите инвалидов в Республике Беларусь»\"\n  На выходе: \"Закон «О социальной защите инвалидов в Республике Беларусь»\"\n\nПример №3:\n  На входе: \"Постановление Совета Министров Республики Беларусь от 29 декабря 2022 г. № 835 «О критериях и перечне категорий граждан, имеющих право на получение льгот по оплате жилищно-коммунальных услуг и топлива, и утверждении форм заявлений о предоставлении льгот и заявлений о перерасчете платы за жилищно-коммунальные услуги»\"\n  На выходе: \"Постановление «О критериях и перечне категорий граждан, имеющих право на получение льгот по оплате жилищно-коммунальных услуг и топлива, и утверждении форм заявлений о предоставлении льгот и заявлений о перерасчете платы за жилищно-коммунальные услуги»\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-448,1008],"id":"76c93676-e715-40b6-87b9-61d2f0f2be54","name":"Yandex GPT Create Themes"},{"parameters":{"method":"DELETE","url":"https://qlgtwudbtlcwesdaojtr.supabase.co/rest/v1/documents","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"gt.0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsZ3R3dWRidGxjd2VzZGFvanRyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODYxMDUxNCwiZXhwIjoyMDY0MTg2NTE0fQ.L8qkHbJBTgscdGjWCjDK_lzEis_48kNFAc9VzcDy4zE"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsZ3R3dWRidGxjd2VzZGFvanRyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODYxMDUxNCwiZXhwIjoyMDY0MTg2NTE0fQ.L8qkHbJBTgscdGjWCjDK_lzEis_48kNFAc9VzcDy4zE"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,1984],"id":"721b48bd-a8ae-4b36-b8a0-ab337010a876","name":"Очистка всей БД SupaBase"},{"parameters":{"chatId":"={{ $('Telegram Trigger').all()[0].json.message.chat.id }}","text":"={{ $json.escaped_text }}","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2208,1184],"id":"a0d93c30-a047-4c37-accb-34cff2488c60","name":"On Error","webhookId":"7ce4eba0-a513-4a42-ab29-6e705573ef76"},{"parameters":{"model":{"__rl":true,"value":"gpt://b1g9v3gfrgpacf17n0e9/yandexgpt/latest","mode":"id"},"options":{"maxTokens":4000,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1744,1344],"id":"3090b8c8-afff-4b6e-bda9-7bd4a589e04b","name":"Yandex GPT2"},{"parameters":{"promptType":"define","text":"={{ $json.error }}","options":{"systemMessage":"=МАКСИМАЛЬНО ДЕТАЛЬНО, ВПЛОТЬ ДО КАЖДОГО ЗНАКА проанализируй текст, предоставленный в сообщении от пользователя.\nДанный текст выдал узел \"{{ $json.NodeName }}\"\nПри работе с докментом {{ $json.ActName }}\nМАКСИМАЛЬНО КРАТКО напиши СУТЬ ошибки\nДай КРАТКОЕ предположение причины ошибки.\nБЕЗ твоих рекомендаций. \nБЕЗ разъяснения анализа.\nБЕЗ каких-либо детализаций.\nИгнорируй ключ \"stack\" ПОЛНОСТЬЮ\nИСКЛЮЧИТЕЛЬНО суть ошибки и краткое предположение\n\nПример грамотного ответа:\n\"\n!!! Внимание !!!\nWorkflow закончил работу с ошибкой\n● Узел:\n  \"GET PDF FILE\"\n● Документ (если он указан):\n  \"Постановление №123 от 2021.01.01\"\n● Суть ошибки:\n  HTTP 404 (Not Found) — запрашиваемый PDF-файл отсутствует на сервере\n● Предполагаемая причина:\n  Неверный URL, перемещённый или удалённый файл\n\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1744,1184],"id":"bae1bdab-3b00-47ea-8d8d-38c57df8af16","name":"Yandex GPT Create Answer1"},{"parameters":{"content":"## Обработка ошибок","height":360,"width":940,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1664,1120],"id":"9822f212-ebad-406d-99d0-032cd254fc2e","name":"Sticky Note12"},{"parameters":{"jsCode":"const text = $input.first().json.output;\nconst escaped = text.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&');\nreturn { json: { escaped_text: escaped } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2032,1184],"id":"ddf63ce9-9b91-4c1c-be98-c0275661e03b","name":"Экранирование спец.символов"},{"parameters":{"model":{"__rl":true,"value":"gpt://b1g9v3gfrgpacf17n0e9/yandexgpt/latest","mode":"id"},"options":{"maxTokens":4000,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-448,704],"id":"4a2c9f29-097a-4815-80c8-0d6660ba427b","name":"Yandex GPT instance 1"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=РОЛЬ\nТы — Юридический Классификатор Вопросов для Республики Беларусь. \n\nКОНТЕКСТ\n- Все вопросы касаются законодательства РБ\n- Классификация определяет дальнейшую обработку:\n  • STATIC_FACT/STATIC_CASE → Базы знаний/шаблоны\n  • DYNAMIC_CASE → Скачивание актуальных НПА\n- Точность критична для оптимизации workflow\n\nЗАДАЧА\nПрисвой одну из меток на основе строгих правил:\n\n1. 🔹 STATIC_FACT если:\n   - Начинается с: \"Что такое\"/\"Какая статья\"/\"Определение\"\n   - Содержит: \"формула\"/\"история\"/\"теория\"/\"понятие\"\n   ▶ Пример: \"История пенсионной системы РБ\"\n\n2. 🔹 DYNAMIC_CASE если:\n   - Термины: льготы/налог/выплата/пособие/БПМ/тариф/пошлина/квота/ставка/комиссия/субсидия/санкции/штрафы/акциз/сбор/единый налог\n   - + Любое из:\n     • Временные маркеры: 2024/актуальный/новый/после [дата]\n     • Расчетные показатели: размер/ставка/сумма/процент/база\n   - ИЛИ: аббревиатуры: ЕНВД/НДС/БПМ\n   ▶ Пример: \"Размер БПМ с 01.01.2024\"\n\n3. 🔹 STATIC_CASE если:\n   - Термины: порядок/инструкция/алгоритм/перечень/список/документы/условия/требования\n   - Глаголы: составить/подать/оформить/обжаловать/зарегистрировать/получить\n   ▶ Пример: \"Перечень документов для лицензии\"\n\nПРАВИЛА ПРИОРИТЕТА\n1. DYNAMIC_CASE > STATIC_CASE > [Процедурный термин + Динамичный термин + Время] >   STATIC_FACT\n2. Пример: \n   - \"Что такое ЕНВД?\" → STATIC_FACT (приоритет)\n   - \"Порядок уплаты ЕНВД в 2024\" → DYNAMIC_CASE (комбинация)\n\nФОРМАТ ОТВЕТА\n- Только одно слово: STATIC_FACT, STATIC_CASE или DYNAMIC_CASE\n- Без пояснений, пунктуации, дополнительного текста\n\nОГРАНИЧЕНИЯ\n- Запрещено возвращать несколько меток\n- Неправовые вопросы → STATIC_FACT\n- Игнорировать: опечатки, регистр слов, эмоциональные выражения\n- При равных признаках применять приоритетную иерархию\n- Максимальное время обработки: 500 мс\n\nПРИМЕРЫ КЛАССИФИКАЦИИ\n✅ Положительные:\n1. Вопрос: \"Определение договора подряда\" → STATIC_FACT\n2. Вопрос: \"Ставка экологического налога в 2024\" → DYNAMIC_CASE\n3. Вопрос: \"Как оформить наследство?\" → STATIC_CASE\n4. Вопрос: \"Порядок расчета ЕНВД для ИП\" → DYNAMIC_CASE (комбинация)\n5. Вопрос: \"Список документов для визы\" → STATIC_CASE\n\n❌ Отрицательные (ошибочные классификации):\n1. Вопрос: \"Налоговые льготы ветеранам\" \n   - ❌ STATIC_CASE (верно: DYNAMIC_CASE - термины \"льготы\", отсутствуют процедурные глаголы)\n   - ✅ Корректно: DYNAMIC_CASE\n\n2. Вопрос: \"Как платить налог в 2024?\"\n   - ❌ DYNAMIC_CASE (верно: STATIC_CASE - приоритет глагола \"платить\" над временным маркером)\n   - ✅ Корректно: STATIC_CASE\n\n3. Вопрос: \"История транспортного сбора\"\n   - ❌ DYNAMIC_CASE (верно: STATIC_FACT - ключевое слово \"история\")\n   - ✅ Корректно: STATIC_FACT\n\n4. Вопрос: \"Условия договора аренды\"\n   - ❌ STATIC_FACT (верно: STATIC_CASE - термин \"условия\" относится к процедурным)\n   - ✅ Корректно: STATIC_CASE\n\n5. Вопрос: \"Сроки подачи декларации\"\n   - ❌ DYNAMIC_CASE (верно: STATIC_CASE - \"сроки\" = процедурный параметр)\n   - ✅ Корректно: STATIC_CASE"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-448,528],"id":"2433430c-1234-48c5-a8d8-d0d76b7866aa","name":"Yandex GPT Create Answer3"},{"parameters":{"content":"## Многофакторные вопросы","height":280,"width":180},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,544],"id":"e00d620b-b2c6-4882-a7cc-0fe23510ed2f","name":"Sticky Note19"},{"parameters":{"chatId":"={{ $('Telegram Trigger').all()[0].json.message.chat.id }}","text":"={{ $json.escaped_text }}","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1456,1904],"id":"3d47f6d5-ba0b-49d5-8e91-b935c3cbf106","name":"Send Answer1","webhookId":"6552e2b0-06f8-4716-92e5-aceac53df2cf","credentials":{"telegramApi":{"id":"hnGinHPNsrJzL0wn","name":"Perplexity_For_Vera"}}},{"parameters":{"jsCode":"{{\nconst text = $input.first().json.output;\nconst escaped = text.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&');\nreturn { json: { escaped_text: escaped } };\n}}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,1904],"id":"ebb64206-015f-4450-89eb-2270e4275707","name":"Code2"},{"parameters":{"jsCode":"const docID = $json.data.items[0].id;\nconst revNumber = $input.all()[0].json.data.items[0].revisionDate\n        .split('.').reverse().join('') + '00';\n\nconst baseUrl = 'https://normativka.by';\n\nconst url = `${baseUrl}`              +\n            `/api/download/download/` +\n            `id/${docID}/`            +\n            `rev/${revNumber}/`       +\n            `format/PDF/`             +\n            `diff/false/`             +\n            `isCommentEnabled/true`;\n\nreturn {'url':url,\n       'id':docID};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,1504],"id":"9c6994c6-b513-4501-b2ba-8acb9f76bd70","name":"Prepare URL For Download Docs"},{"parameters":{"assignments":{"assignments":[{"id":"dfc809c7-e7ee-4036-ab97-7e16a985cc48","name":"NodeName","value":"Get PDF File","type":"string"},{"id":"6ce55a1f-fc4b-4ead-94c5-32b6e56082d0","name":"ActName","value":"={{ $('Search (POST)').all()[0].json.query }}","type":"string"},{"id":"dde9ce3f-d4d4-4c72-99ff-e84c385ec537","name":"error","value":"={{ $json.error }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1456,1344],"id":"70232e42-2330-4a60-a6d8-56cdc3903823","name":"Get PDF File Error"},{"parameters":{"assignments":{"assignments":[{"id":"fce57bd5-e546-4e33-aae1-a184ea803248","name":"message.text","value":"={{ $('Telegram Trigger').item.json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,688],"id":"74df65db-ba4c-4c73-a73d-fe4ab868bf32","name":"Get Open-Ended Question"},{"parameters":{"assignments":{"assignments":[{"id":"dfc809c7-e7ee-4036-ab97-7e16a985cc48","name":"NodeName","value":"Result (GET)","type":"string"},{"id":"dde9ce3f-d4d4-4c72-99ff-e84c385ec537","name":"error","value":"={{ $json.error }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1456,1024],"id":"0af12a80-a216-49c3-80af-f00fbb0cca7b","name":"Result (GET) Error"},{"parameters":{"assignments":{"assignments":[{"id":"a2ca8be0-86bd-40bb-9939-f86e12d71194","name":"limit","value":"={{ $json.limit || 300 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,1920],"id":"180be02b-5db0-4cb4-bf97-1d2556677545","name":"Set Limit"},{"parameters":{"content":"","width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,1888],"id":"cfad95dd-b9e5-4a97-bb8c-0e2e29a0a954","name":"Sticky Note24"},{"parameters":{"content":"## Авторизация и выделение ключевых данных из кук\nddw@tut.by 6358747","height":280,"width":310},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,544],"id":"29d86e8c-c2f1-413f-8a23-46fa83143fcc","name":"Sticky Note25"},{"parameters":{"method":"POST","url":"https://normativka.by/user/login-ssl/?redirect=/lib/&callback=jQuery341042201408929593276_1747639615719","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"\"text/javascript, application/javascript, application/ecmascript, application/x-ecmascript, */*; q=0.01\""},{"name":"Accept-Language","value":"ru,en;q=0.9,en-GB;q=0.8,en-US;q=0.7"},{"name":"Content-Type","value":"application/x-www-form-urlencoded; charset=UTF-8"},{"name":"X-Requested-With","value":"XMLHttpRequest"},{"name":"X-KL-kes-Ajax-Request","value":"Ajax_Request"},{"name":"Origin","value":"https://normativka.by"},{"name":"Referer","value":"https://normativka.by/"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36 Edg/130.0.0.0"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"UserLogin","value":"ddw@tut.by"},{"name":"UserPass","value":"6358747"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,688],"id":"6e1b73af-b82c-4d81-9619-3d471beb86f0","name":"Auth","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"c1793942-89be-4559-b047-e287347a5c92","name":"PHPSESSID","value":"={{ $json.headers[\"set-cookie\"][0].split(';')[0].split('=')[1] }}","type":"string"},{"id":"cbcb23de-9355-4446-abd0-9439cb3655e7","name":"uuk","value":"={{ $json.headers[\"set-cookie\"][2].split(';')[0].split('=')[1] }}","type":"string"},{"id":"54323ebc-7fed-491f-87bf-f2bfcb3d8d40","name":"nsid","value":"={{ $json.headers[\"set-cookie\"][3].split(';')[0].split('=')[1] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,688],"id":"e5c1faa9-f5ec-4acb-b0e6-6daf57f3cb20","name":"Set Session Info"},{"parameters":{"content":"## При превышении длины контекста уменьшаем лимит","height":80,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-192,2112],"id":"56c5142c-77ad-4562-a81d-e4e03e5a964d","name":"Sticky Note26"},{"parameters":{"content":"","width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-96,1952],"id":"239c1327-8d14-4a40-b718-39949e9a7f74","name":"Sticky Note27"},{"parameters":{"content":"## Экранирование символов","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,2048],"id":"d666c5e9-5e1e-4b47-b90a-c91983e61121","name":"Sticky Note28"},{"parameters":{"jsCode":"const limit = Number($('Set Limit').all()[0].json.limit);\nconst newLimit = Math.floor(limit * 0.9);\n//const prevData = items[0].json.previousItem.json;\n//console.log(prevData);\n\nreturn {\"limit\":newLimit}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,1984],"id":"0faf2d1c-a59a-4b0c-b4fa-66a902244d8a","name":"YandexGPT Error","executeOnce":true},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-640,528],"id":"588ce58e-c5f2-4577-b850-11b44cd1d129","name":"Telegram Trigger","webhookId":"0f3688f3-355b-4dea-bea0-af168c7d8f07","credentials":{"telegramApi":{"id":"hnGinHPNsrJzL0wn","name":"Perplexity_For_Vera"}}},{"parameters":{"content":"","height":200,"width":170},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,976],"id":"9807f8ab-65a6-4e88-b182-580add97f463","name":"Sticky Note30"},{"parameters":{"content":"","height":200,"width":170},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[608,976],"id":"8d9c264c-60bd-4171-86c2-c72f0bd75bac","name":"Sticky Note31"},{"parameters":{"jsCode":"const items = $input.all()[0].json.data.items\nconsole.log(items.length)\nitems.map(item => console.log(item.title))\n\nreturn {\"!!!\":\"See Logs\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,896],"id":"fab5fe50-b09e-4efa-84a5-d7dcb127f561","name":"Log All Names","disabled":true},{"parameters":{"options":{"reset":false}},"id":"ac3933c0-d73b-40e4-9461-8bc24169981d","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[112,1008],"typeVersion":3},{"parameters":{"conditions":{"boolean":[{"value1":"={{$node[\"Loop Over Items\"].context[\"noItemsLeft\"]}}","value2":true}]}},"id":"6e960835-402b-4fff-af17-e59ca7b6d7b1","name":"Done looping?","type":"n8n-nodes-base.if","position":[928,1488],"typeVersion":1},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1152,1504],"id":"e0da0493-b4d3-4462-a9bc-1671f5f416c2","name":"..."},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1264,1024],"id":"b25ef6d9-0f4c-40d5-b9aa-b8646b118e0a","name":"Error."},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,1344],"id":"d13b8724-3c31-4978-8bf3-a18db42db71c","name":"Error.."},{"parameters":{"model":{"__rl":true,"value":"gpt://b1g9v3gfrgpacf17n0e9/yandexgpt/latest","mode":"id"},"options":{"maxTokens":4000,"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[848,848],"id":"3c3a704a-8b17-4ce9-887f-62dd9784d000","name":"Yandex GPT instance 9"},{"parameters":{"content":"## Формирование списка актуальных НПА","height":444,"width":410},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[816,544],"id":"31ba167b-ffd7-4bf7-afc0-eeeadf3cf5e7","name":"Sticky Note34"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","hasOutputParser":true,"options":{"systemMessage":"=### СИСТЕМНАЯ РОЛЬ И КРИТИЧЕСКИЕ ТРЕБОВАНИЯ ###\nТы — ИИ-юрист по гражданскому и трудовому праву РБ. СТРОГО СОБЛЮДАЙ:\n1. Вывод ТОЛЬКО списка НПА (без анализа, комментариев, рекомендаций!)\n2. МАКСИМАЛЬНОЕ КОЛИЧЕСТВО релевантных документов\n3. ТОЧНЫЕ РЕКВИЗИТЫ: Название + номер + дата (+ статьи применимости)\n\n### КОНТЕКСТ ###\nВопрос пользователя: \n\"{{ $json.message.text }}\"\n\n### ЗАДАЧА ###\nПровести правовой анализ ситуации. В ОТВЕДЕ ВЫВЕСТИ ИСКЛЮЧИТЕЛЬНО:\n- Квалификацию отраслей права/институтов\n- Конкретные действующие НПА РБ (законы, кодексы, указы, постановления, приказы, инструкции)\n- Релевантную судебную практику (если применимо)\n\n### ФОРМАТ ОТВЕТА ###\nТОЛЬКО СПИСОК В СТРОГОМ ПОРЯДКЕ:\n1. [Отрасль права/Институт]\n2. [Название НПА], [номер], [дата]\n3. [Название НПА], [номер], [дата]\n...\n\n### КЛЮЧЕВОЙ ПРИМЕР (структура) ###\nВопрос: \"Увольнение по срочному договору...\"  \nОтвет:\n1. Трудовое право\n2. Трудовой кодекс Республики Беларусь\n3. Постановление Пленума Верховного Суда РБ №4 от 26.06.2008\n4. Постановление Совмина РБ №1705 от 10.12.2007\n\n### АБСОЛЮТНЫЕ ОГРАНИЧЕНИЯ ###\nЗАПРЕЩЕНО:\n1. Добавлять анализ/интерпретации/рекомендации \n2. Использовать устаревшие/непроверенные НПА \n3. Упоминать \"обычную практику\", мнения, неофициальные источники\n4. Выходить за юрисдикцию РБ\n5. Указывать НПА без точных реквизитов\n6. Формулировать выводы (\"да/нет\", права/обязанности)\n7. Давать неправовые консультации (финансовые, медицинские)\n\n### ФИНАЛЬНОЕ НАПОМИНАНИЕ ###\nПЕРЕД ФОРМИРОВАНИЕМ ОТВЕТА УБЕДИСЬ:\n- Вывод содержит ТОЛЬКО список \n- Учтены ВСЕ релевантные НПА \n- Каждый документ имеет полные реквизиты \n- Нет нарушений из раздела \"АБСОЛЮТНЫЕ ОГРАНИЧЕНИЯ\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[832,688],"id":"56106d0f-7adc-46d4-96b9-eaf5b7260ff7","name":"Yandex GPT Create Open-Ended Answer"},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"array\",\n    \"name\":  \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1024,848],"id":"3c0e3448-42a2-4e7d-a04f-8e51ccb0c319","name":"Structured Output Parser"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[640,688],"id":"84f0b394-1097-4025-9b55-ab8dca336ee4","name":"....."},{"parameters":{"fieldToSplitOut":"output","options":{"destinationFieldName":"act"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1120,688],"id":"ec849f2d-8ae3-45e0-9fec-2a52769852b5","name":"Split Out"},{"parameters":{"method":"DELETE","url":"https://qlgtwudbtlcwesdaojtr.supabase.co/rest/v1/documents","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"gt.0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsZ3R3dWRidGxjd2VzZGFvanRyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODYxMDUxNCwiZXhwIjoyMDY0MTg2NTE0fQ.L8qkHbJBTgscdGjWCjDK_lzEis_48kNFAc9VzcDy4zE"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsZ3R3dWRidGxjd2VzZGFvanRyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODYxMDUxNCwiZXhwIjoyMDY0MTg2NTE0fQ.L8qkHbJBTgscdGjWCjDK_lzEis_48kNFAc9VzcDy4zE"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,1184],"id":"020e042a-9d16-4471-a315-af0e52381dfc","name":"Очистка всей БД SupaBase1"},{"parameters":{"model":{"__rl":true,"value":"gpt://b1g9v3gfrgpacf17n0e9/yandexgpt/latest","mode":"id"},"options":{"maxTokens":4000,"temperature":0.8}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[288,2144],"id":"bde952c7-21fb-442e-b0cf-281aef5341ac","name":"Yandex GPT3"},{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger').all()[0].json.message.text }}","options":{"systemMessage":"=Ты — ИИ-юрист Республики Беларусь. \nОтвечай СТРОГО, ИСКЛЮЧИТЕЛЬНО на основе данных из SupaBase.\nКАТЕГОРИЧЕСКИ ЗАПРЕЩЕНО ИСПОЛЬЗОВАТЬ знания из других источников. \n\nТВОЯ ГЛАВНАЯ ЗАДАЧА: \nДать ИСЧЕРПЫВАЮЩИЙ ответ на пользовательский запрос\n\nИНСТРУКЦИЯ:\n1. ТЩАТЕЛЬНО проанализируй ВСЕ данные из SupaBase.\n2. ЕСЛИ есть готовый ответ:\n   - Используй его ДОСЛОВНО\n   - Дополни контекстом из SupaBase-данных\n3. ЕСЛИ готового ответа НЕТ:\n   - Выяви все ключевые данные для формирования ответа\n   - Выдели ключевые характеристики, функции и правовой контекст\n   - СИНТЕЗИРУЙ ответ из этих элементов\n4. ОБЯЗАТЕЛЬНО:\n   - Сохрани юридическую точность\n   - Укажи источники (если есть в выдержках)\n   - Объём: 5-6 абзацев\n5. ЗАПРЕЩЕНО:\n   - Упоминать отсутствие прямого ответа\n   - Добавлять внешние знания\n   - Выводить ход анализа\n   - Изменять факты из выдержек\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[368,1920],"id":"4bbb0eab-3ae5-4b62-b17e-a9e2ca39948c","name":"Yandex GPT Create Answer2","retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Привет","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":"={{ $('Set Limit').all()[0].json.limit }}","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[528,2144],"id":"55164994-306e-44ad-85c9-670c87cfd8a1","name":"Supabase Vector Store1"},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[400,2176],"id":"5f00b378-e8ef-4ab9-aa93-2d89d07c732a","name":"Embeddings OpenAI2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c7fac83a-fd85-4295-978d-cc1cf0c2eac4","leftValue":"={{ $json.output }}","rightValue":"STATIC_FACT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"STATIC_FACT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea1cb886-56bf-4438-9ade-f99f07a865f2","leftValue":"={{ $json.output }}","rightValue":"STATIC_CASE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"STATIC_CASE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4bd586ef-7b6c-4bac-93d1-c795d167c97d","leftValue":"={{ $json.output }}","rightValue":"DYNAMIC_CASE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DYNAMIC_CASE"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-112,512],"id":"5635fda5-d596-4363-9f78-d07a5e33dd9b","name":"Switch"}],"connections":{"Search (POST)":{"main":[[{"node":"Result (GET)","type":"main","index":0}]]},"Result (GET)":{"main":[[{"node":"Prepare URL For Download Docs","type":"main","index":0}],[{"node":"Error.","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Post to Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Post to Supabase Vector Store","type":"ai_embedding","index":0}]]},"Change File Name":{"main":[[{"node":"Extract from PDF","type":"main","index":0}]]},"Extract from PDF":{"main":[[{"node":"Post to Supabase Vector Store","type":"main","index":0}]]},"GET PDF FILE":{"main":[[{"node":"Change File Name","type":"main","index":0}],[{"node":"Error..","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Set Limit","type":"main","index":0}]]},"Combine All Elements":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Post to Supabase Vector Store":{"main":[[{"node":"Done looping?","type":"main","index":0}]]},"Yandex GPT":{"ai_languageModel":[[{"node":"Yandex GPT Create Themes","type":"ai_languageModel","index":0}]]},"Yandex GPT Create Themes":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"On Error":{"main":[[{"node":"Очистка всей БД SupaBase1","type":"main","index":0}]]},"Yandex GPT2":{"ai_languageModel":[[{"node":"Yandex GPT Create Answer1","type":"ai_languageModel","index":0}]]},"Yandex GPT Create Answer1":{"main":[[{"node":"Экранирование спец.символов","type":"main","index":0}]]},"Экранирование спец.символов":{"main":[[{"node":"On Error","type":"main","index":0}]]},"Yandex GPT instance 1":{"ai_languageModel":[[{"node":"Yandex GPT Create Answer3","type":"ai_languageModel","index":0}]]},"Code2":{"main":[[{"node":"Send Answer1","type":"main","index":0},{"node":"Очистка всей БД SupaBase","type":"main","index":0}]]},"Prepare URL For Download Docs":{"main":[[{"node":"GET PDF FILE","type":"main","index":0}]]},"Get PDF File Error":{"main":[[{"node":"Yandex GPT Create Answer1","type":"main","index":0}]]},"Get Open-Ended Question":{"main":[[{"node":".....","type":"main","index":0}]]},"Result (GET) Error":{"main":[[{"node":"Yandex GPT Create Answer1","type":"main","index":0}]]},"Set Limit":{"main":[[{"node":"Yandex GPT Create Answer2","type":"main","index":0}]]},"Auth":{"main":[[{"node":"Set Session Info","type":"main","index":0}]]},"Set Session Info":{"main":[[{"node":"Get Open-Ended Question","type":"main","index":0}]]},"YandexGPT Error":{"main":[[{"node":"Set Limit","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Yandex GPT Create Answer3","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Search (POST)","type":"main","index":0}]]},"Done looping?":{"main":[[{"node":"Combine All Elements","type":"main","index":0}],[{"node":"...","type":"main","index":0}]]},"...":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Error.":{"main":[[{"node":"Result (GET) Error","type":"main","index":0}]]},"Error..":{"main":[[{"node":"Get PDF File Error","type":"main","index":0}]]},"Yandex GPT instance 9":{"ai_languageModel":[[{"node":"Yandex GPT Create Open-Ended Answer","type":"ai_languageModel","index":0}]]},"Yandex GPT Create Open-Ended Answer":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Yandex GPT Create Open-Ended Answer","type":"ai_outputParser","index":0}]]},".....":{"main":[[{"node":"Yandex GPT Create Open-Ended Answer","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Yandex GPT Create Themes","type":"main","index":0}]]},"Yandex GPT3":{"ai_languageModel":[[{"node":"Yandex GPT Create Answer2","type":"ai_languageModel","index":0}]]},"Yandex GPT Create Answer2":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"YandexGPT Error","type":"main","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"Yandex GPT Create Answer2","type":"ai_tool","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Yandex GPT Create Answer3":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Auth","type":"main","index":0}],[{"node":"Auth","type":"main","index":0}],[{"node":"Auth","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8596c277-81b3-4420-ae3c-9c21fa0757dd","triggerCount":0,"shared":[{"createdAt":"2025-08-28T12:47:40.829Z","updatedAt":"2025-08-28T12:47:40.829Z","role":"workflow:owner","workflowId":"PeBHZOK2sM7NEiQy","projectId":"IleytSzahKgJVE8V","project":{"createdAt":"2025-08-23T08:28:18.741Z","updatedAt":"2025-08-23T10:48:47.350Z","id":"IleytSzahKgJVE8V","name":"Oleg Ovchinnikov <olegovnino@mail.ru>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-08-23T08:28:18.741Z","updatedAt":"2025-08-23T08:28:18.741Z","role":"project:personalOwner","userId":"8c5ac946-8157-4148-a581-c85f73d34327","projectId":"IleytSzahKgJVE8V","user":{"createdAt":"2025-08-23T08:28:18.218Z","updatedAt":"2025-10-02T21:00:39.701Z","id":"8c5ac946-8157-4148-a581-c85f73d34327","email":"olegovnino@mail.ru","firstName":"Oleg","lastName":"Ovchinnikov","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"LB07ov0GUG7GKygf","userActivatedAt":1757667384674,"npsSurvey":{"responded":true,"lastShownAt":1759396695520}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-02","isPending":false}}]}}],"tags":[]}